<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>GlobalCityList</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--フレームワークjQueryを導入-->
	<script type="text/javascript" th:src="@{/static/jquery/jquery-3.6.2.min.js}"></script>
	<!--フレームワークBootstrapを導入-->
	<link rel="shortcut icon" type="image/png" th:href="@{/static/favicon.png}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	<script type="text/javascript" th:src="@{/static/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
	<style>
		caption {
			font-size: 12px;
		}

		.reduce-margin {
			margin-bottom: 10px;
		}
	</style>
	<!-- ウェブページを構築する -->
	<div th:class="'container'">
		<!-- タイトル -->
		<div th:class="'row'">
			<div th:class="'col-lg-12'">
				<h1>グローバル都市情報一覧</h1>
			</div>
		</div>
		<!-- 検索バーとボタン -->
		<div class="row">
			<form class="form-inline col-lg-7" role="form">
				<div class="input-group has-feedback col-lg-7">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">@</span>
					</div>
					<input id="keywordInput" class="form-control" type="text" placeholder="検索条件を入力してください"
						aria-describedby="button-addon4">
					<div class="input-group-append" id="button-addon4">
						<button id="searchBtn" class="btn btn-warning my-2 my-sm-0" type="button">
							<i class="bi bi-search"></i> 検索
						</button>
					</div>
				</div>
			</form>
			<div class="col-lg-2 col-lg-offset-3">
				<button class="btn btn-success" id="cityAddModalBtn">
					<i class="bi bi-calendar2-plus-fill"></i> 情報追加
				</button>
			</div>
		</div>
		<!-- データ -->
		<div th:class="'row'">
			<div th:class="'col-lg-12'">
				<table class="table table-sm reduce-margin">
					<caption>Information of populous cities gathered around 2000s'</caption>
					<thead>
						<tr class="active">
							<th scope="col" th:class="'text-center'" th:style="'width:70px;'">都市ID</th>
							<th scope="col" th:class="'text-center'" th:style="'width:120px;'">都市名</th>
							<th scope="col" th:class="'text-center'" th:style="'width:100px;'">大陸</th>
							<th scope="col" th:class="'text-center'" th:style="'width:100px;'">国家</th>
							<th scope="col" th:class="'text-center'" th:style="'width:120px;'">地域</th>
							<th scope="col" th:class="'text-center'" th:style="'width:70px;'">人口数量</th>
							<th scope="col" th:class="'text-center'" th:style="'width:80px;'">公用語</th>
							<th scope="col" th:class="'text-center'" th:style="'width:120px;'">操作</th>
						</tr>
					</thead>
					<tbody id="cityTableBody">
						<tr th:each="pg:${extend.pageInfo.getContent()}">
							<td th:text="${pg.id()}" th:class="'text-center'" th:style="'width:70px;'"></td>
							<td th:text="${pg.name()}" th:class="'text-center'"
								th:style="${pg.name().trim().length() ge 15 ? 'width:120px;font-size:12px;':'width:120px;font-size:15px;'}">
							</td>
							<td th:text="${pg.continent()}" th:class="'text-center'" th:style="'width:100px;'"></td>
							<td th:text="${pg.nation()}" th:class="'text-center'"
								th:style="${pg.nation().trim().length() ge 15 ? 'width:120px;font-size:12px;':'width:120px;font-size:15px;'}">
							</td>
							<td th:text="${pg.district()}" th:class="'text-center'"
								th:style="${pg.district().trim().length() ge 15 ? 'width:120px;font-size:12px;':'width:120px;font-size:15px;'}">
							</td>
							<td th:text="${pg.population()}" th:class="'text-center'" th:style="'width:70px;'"></td>
							<td th:text="${pg.language()}" th:class="'text-center'"
								th:style="${pg.language().trim().length() ge 15 ? 'width:80px;font-size:12px;':'width:80px;font-size:15px;'}">
							</td>
							<td th:class="'text-center'" th:style="'width:120px;'">
								<button th:class="'btn btn-primary btn-sm edit_btn'" th:id="*{pg.id()}">
									<span th:class="'glyphicon glyphicon-pencil'"></span>編集
								</button>
								<button th:class="'btn btn-danger btn-sm delete_btn'" th:id="*{pg.name()}"
									th:deleteId="*{pg.id()}">
									<span th:class="'glyphicon glyphicon-trash'"></span>削除
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- ページナビ -->
		<div class="row">
			<div id="pageInfos" class="col-lg-5"
				th:text="|The ${extend.pageInfo.getNumber()+1} page in ${extend.pageInfo.getTotalPages()} pages, ${extend.pageInfo.getTotalElements()} records found.|">
			</div>
			<div id="pageNavi" class="col-lg-7 d-flex justify-content-end">
				<nav id="initial-pagenavi"
					th:with="previousPage=${extend.pageInfo.getNumber()},nextPage=${extend.pageInfo.getNumber()+2},totalPg=${extend.pageInfo.getTotalPages()}">
					<ul class="pagination">
						<li id="toFirst" class='page-item'><a
								th:href="@{'/jpasample/city?pageNum=1&amp;keyword='+${extend.keyword eq null ? '' : extend.keyword}}"
								th:class="${extend.pageInfo.isFirst() ? 'page-link disabled' : 'page-link enable'}">最初のページへ</a>
						</li>
						<li id="toPrevious" class='page-item'><a
								th:href="@{'/jpasample/city?pageNum='+${previousPage &lt; 1 ? 1 : previousPage}+'&amp;keyword='+${extend.keyword eq null ? '' : extend.keyword}}"
								th:class="${extend.pageInfo.hasPrevious() ? 'page-link enable' : 'page-link disabled'}">&laquo;</a>
						</li>
						<li th:each="i:${#numbers.sequence(extend.pageFirstIndex,extend.pageLastIndex)}"
							class="pagination2 page-item">
							<a th:text="${i+1}"
								th:href="@{'/jpasample/city?pageNum='+${i+1}+'&amp;keyword='+${extend.keyword eq null ? '' : extend.keyword}}"
								th:class="${extend.pageInfo.getNumber()} eq ${i} ? 'page-link active' : 'page-link enable'"></a>
						</li>
						<li id="toNext" class='page-item'><a
								th:href="@{'/jpasample/city?pageNum='+${nextPage &gt; totalPg ? totalPg : nextPage}+'&amp;keyword='+${extend.keyword eq null ? '' : extend.keyword}}"
								th:class="${extend.pageInfo.hasNext() ? 'page-link enable' : 'page-link disabled'}">&raquo;</a>
						</li>
						<li id="toLast" class='page-item'><a
								th:href="@{'/jpasample/city?pageNum='+${totalPg}+'&amp;keyword='+${extend.keyword eq null ? '' : extend.keyword}}"
								th:class="${extend.pageInfo.isLast() ? 'page-link disabled' : 'page-link enable'}">最後のページへ</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- データ追加モーダル -->
	<div class="modal fade" id="cityAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">都市情報追加</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group row">
							<label for="nameInput" class="col-sm-3 control-label text-right mb-4">都市名</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="nameInput" placeholder="都市の正式的な名称">
								<span class="form-text"></span>
							</div>
						</div>
						<div class="form-group row">
							<label for="continentInput" class="col-sm-3 control-label text-right mb-4">大陸</label>
							<div class="col-sm-9">
								<select id="continentInput" class="form-control"></select>
							</div>
						</div>
						<div class="form-group row">
							<label for="nationInput" class="col-sm-3 col-form-label text-right mb-3">国家</label>
							<div class="col-sm-9">
								<select id="nationInput" class="form-control"></select>
							</div>
						</div>
						<div class="form-group row">
							<label for="districtInput" class="col-sm-3 control-label text-right mb-4">地域</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="districtInput" placeholder="都市の地域">
								<span class="form-text"></span>
							</div>
						</div>
						<div class="form-group row">
							<label for="populationInput" class="col-sm-3 control-label text-right mb-4">人口数量</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="populationInput" placeholder="都市の人口数量">
								<span class="form-text"></span>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
					<button type="button" class="btn btn-primary" id="cityInfoSaveBtn">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- データ編集モーダル -->
	<div class="modal fade" id="cityEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">都市情報修正</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group row">
							<label for="nameEdit" class="col-sm-3 control-label text-right mb-4">都市名</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="nameEdit"></p>
							</div>
						</div>
						<div class="form-group row">
							<label for="continentEdit" class="col-sm-3 control-label text-right mb-4">大陸</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="continentEdit"></p>
							</div>
						</div>
						<div class="form-group row">
							<label for="nationEdit" class="col-sm-3 control-label text-right mb-3">国家</label>
							<div class="col-sm-9">
								<select id="nationEdit" class="form-control"></select>
							</div>
						</div>
						<div class="form-group row">
							<label for="languageEdit" class="col-sm-3 control-label text-right mb-3">公用語</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="languageEdit"></p>
							</div>
						</div>
						<div class="form-group row">
							<label for="districtEdit" class="col-sm-3 control-label text-right mb-4">地域</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="districtEdit" placeholder="都市の地域">
								<span class="form-text"></span>
							</div>
						</div>
						<div class="form-group row">
							<label for="populationEdit" class="col-sm-3 control-label text-right mb-4">人口数量</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="populationEdit" placeholder="都市の人口数量">
								<span class="form-text"></span>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">閉じる</button>
					<button type="button" class="btn btn-info" id="cityInfoChangeBtn">変更</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/static/jquery/cities.js}"></script>
</body>

</html>