<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sony.ppog.mapper.CityViewMapper">
    <resultMap id="ResultMap" type="jp.co.sony.ppog.entity.CityView">
        <id column="ID" jdbcType="SMALLINT" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="CONTINENT" jdbcType="VARCHAR" property="continent"/>
        <result column="NATION" jdbcType="VARCHAR" property="nation"/>
        <result column="DISTRICT" jdbcType="VARCHAR" property="district"/>
        <result column="POPULATION" jdbcType="INTEGER" property="population"/>
    </resultMap>
    <select id="selectContinents" resultMap="ResultMap">
        select distinct CONTINENT
        from WORLD_CITY_VIEW
        order by CONTINENT asc
    </select>
    <select id="selectNations" parameterType="java.lang.String" resultMap="ResultMap">
        select distinct NATION
        from WORLD_CITY_VIEW
        where CONTINENT = #{continent,jdbcType=VARCHAR}
        order by NATION asc
    </select>
</mapper>